*{
    margin: 0px;
    padding: 0px;
}

.main{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 0 50px black;
}

.startStyle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: green;
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
}
.stopStyle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
    margin-left: 6px;
}
.buttonBox{
    display: flex;
}